.Preview{
    width: 560px;
height: 42px;
padding-left: 15px;
font-size: medium;
font-variant: small-caps;
margin-left: 350px;
margin-top: 20px;
font-family: Verdana, sans-serif;
box-shadow: 0 0 20px #ff000030;

}